.button{
    -fx-background-color:  #ffff;
    -fx-background-radius: 20px;
}


.label{
    -fx-font-family: "Montserrat";
}



.table-column .label{
    -fx-background-color:  #185EAF;
    -fx-text-fill: #ffff;
}




.table-view{
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #ffff;
}

