/* Apply to all buttons */
.button {
    -fx-background-radius: 20px; /* Rounded corners */
}

/* Specific styling for the appoint button */
.appoint-button {
    -fx-background-color: #2196F3; /* Blue color */
    -fx-padding: 5 10; /* Padding for better visual */
    -fx-text-fill: white; /* Text color */
}

/* Styling for labels */
.label {
    -fx-font-family: "Montserrat";
}

/* Styling for table columns */
.table-column .label {
    -fx-background-color: #185EAF;
    -fx-text-fill: white;
}

/* Styling for the table view background */
.table-view {
    -fx-background-color: #C0C0C0;
    -fx-text-fill: white;
}
